# Monorepo ignores
.DS_Store
*.iml
.idea/
.env

# Do not commit local Flutter SDK
.flutter/

# Angular
web/node_modules/
web/dist/

# Spring Boot
backend/target/

# Flutter project artifacts
mobile/.dart_tool/
mobile/build/
mobile/.packages
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/ios/Pods/
mobile/ios/.symlinks/

# VSCode project files
.vscode/
